@import '../../styles/variables.scss';

.wrapper {
  position: relative;
  border-radius: $input-border-radius;
  & input {
    border: none;
  }
  & input:focus,
  & input:hover,
  & > span,
  & > span:hover {
    outline: none;
    border: none;
    box-shadow: none;
  }
}

.fieldset {
  top: -5px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0 8px;
  overflow: hidden;
  position: absolute;
  border-style: solid;
  border-width: $input-border-width;
  border-radius: inherit;
  pointer-events: none;
  // &Focus {
  //   border-width: 2px;
  // }
}
:global(.ant-form-item-has-error) {
  .fieldset {
    border-color: #ff4d4f;
  }
  .wrapper.wrapper.wrapper {
    & input,
    & span {
      border: none;
      box-shadow: none;
    }
  }
}

.legend {
  width: auto;
  height: 11px;
  display: block;
  padding: 0;
  font-size: 0.75em;
  max-width: 0.01px;
  text-align: left;
  transition: max-width 50ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  visibility: hidden;
  & > span {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    height: 19px;
    font-size: 14px;
  }
  &Focus {
    max-width: 1000px;
    transition: max-width 100ms cubic-bezier(0, 0, 0.2, 1) 50ms;
    background-color: white;
    width: auto !important;
  }
}
.label {
  position: absolute;
  top: -8px;
  left: 8px;
  &Outlined {
    z-index: 1;
    transform: translate(14px, 20px) scale(1);
    pointer-events: none;
  }
  &Outlined.labelShrink {
    transform: translate(10px, -2px) scale(0.9);
    transform-origin: top left;
  }
  &Animated {
    transition: color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms,
      transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  }
}

// div > input:-webkit-autofill {
//   border: 1px solid green;
//   -webkit-text-fill-color: green;
//   transition: background-color 5000s ease-in-out 0s;
// }
